.container{
  display: grid;

  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(200px,auto);

  /*grid-column-gap: 10px;
  grid-row-gap: 5px;*/
  grid-gap: 10px;



}

.box{
  background: blue;
  text-align: center;
  color: white;
  font-size: 2rem;
}
