.container{
  display: grid;

  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(200px,auto);

  /*grid-column-gap: 10px;
  grid-row-gap: 5px;*/
  grid-gap: 10px;

  color: white;
  font-size: 2rem;

}

.box{
  background: blue;
  text-align: center;
}


.box1{
/*  grid-column-start:1;
  grid-column-end: 5; */
  grid-column: 1/2;
}

.box2{
  grid-column-start: 3;
  grid-column-end: 5;

}
