.container{
  display: grid;

  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(200px,auto);

  grid-gap: 10px;

  justify-items:center;  /* : start end */
  align-items: center; /* : start end */
}

.box{
  background: blue;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
