.container{
  display: grid;

  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(200px,auto);


  grid-gap: 10px;

}

.box{
  background: lightblue;
  text-align: center;
  font-size: 1.5rem;
}


.box1{

  grid-column: 2/3;
}

.box2{
  grid-column: 2/5;
  grid-row: 4/5;

}

.box3{
  grid-row: 1/4;
}
